@model IEnumerable<PostagemModel>

<div class="container">
    <div class="row">        
        <div class="col-md-4">
            <h4>Lista de Postagens</h4>
            @if (Model != null && Model.Any())
            {
                <ul class="list-group">
                    @foreach (var postagem in Model)
                    {
                        <li class="list-group-item">
                            <a href="javascript:void(0);" onclick="carregarPostagem(@postagem.Id)">
                                <h5>@postagem.Titulo</h5>
                                <p>Publicado em: @postagem.DataPublicacao.ToShortDateString()</p>
                                <p>Autor: @postagem.Autor.Nome</p>
                            </a>
                        </li>
                    }
                </ul>
            }
            else
            {
                <p>Não há postagens disponíveis no momento.</p>
            }            
            <div class="mt-3">
                <a href="@Url.Action("Create", "Postagem")" class="btn btn-primary">+ Nova Postagem</a>
            </div>
        </div>        
        <div class="col-md-8" id="postDetail" style="overflow-y: scroll; max-height: 500px;">
            <h3>Selecione uma postagem para ver os detalhes</h3>
        </div>
    </div>
</div>
<script>
    function carregarPostagem(id) {
        $.get('@Url.Action("Detalhes", "Postagem")/' + id, function (data) {
            $('#postDetail').html(data);
        });
    }
</script>
