@model IEnumerable<PostagemModel>

<div class="container">
    <div class="row">        
        <div class="col-md-4" id="postList">
            <ul class="list-group">
                @foreach (var postagem in Model)
                {
                    <li class="list-group-item">
                        <a href="javascript:void(0);" onclick="carregarPostagem(@postagem.Id)">
                            <h5>@postagem.Titulo</h5>
                            <p>@postagem.DataPublicacao.ToShortDateString()</p>
                        </a>
                        <ul>
                            @foreach (var comentario in postagem.Comentarios)
                            {
                                <li>@comentario.Nome: @comentario.Conteudo</li>
                                <button onclick="excluirComentario(@comentario.Id)">Excluir Comentário</button>
                            }
                        </ul>
                    </li>
                }
            </ul>
        </div>       
        <div class="col-md-8" id="postDetail" style="overflow-y: scroll; max-height: 500px;">
            <h3>Selecione uma postagem</h3>
        </div>
    </div>
</div>

<script>
    function carregarPostagem(id) {
        $.get('/Postagem/Detalhes/' + id, function (data) {
            $('#postDetail').html(data);
        });
    }
    function excluirComentario(id) {
        $.post('/Comentario/Excluir/' + id, function () {
            alert('Comentário excluído');
            location.reload();
        });
    }
</script>
