@model PostagemModel

<div class="container">
    <h2>@Model.Titulo</h2>
    <p><strong>Publicado em:</strong> @Model.DataPublicacao.ToString("dd/MM/yyyy")</p>
    <p><strong>Autor:</strong> @Model.Autor.Nome</p>
    <div>
        <p>@Model.Conteudo</p>
    </div>
    <h4>Comentários</h4>
    <ul class="list-group">
        @foreach (var comentario in Model.Comentarios)
        {
            <li class="list-group-item">
                <p><strong>@comentario.Nome</strong> - @comentario.DataPublicacao.ToString("dd/MM/yyyy")</p>
                <p>@comentario.Conteudo</p>
            </li>
        }
    </ul>
</div>
